beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
lxml==5.2.1
packaging==24.0
pillow==10.3.0
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
pytesseract==0.3.10
python-dotenv==1.0.1
requests==2.31.0
soupsieve==2.5
tika==2.6.0
urllib3==2.2.1
